@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

body{
  background-color: black;
}
.container{
  background-color: azure;
  padding : 20px 10px;
  margin-top: 90vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.color-btn{
  width:100px;
  height:30px;
}

#body-container{
  position: absolute;
  width: 100%;
}