@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

body{
  background-color: black;
}
.container{
  background-color: azure;
  padding : 20px 10px;
  margin-top: 80vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.color-btn{
  width:105px;
  height:32px;
  color: aliceblue;
  font-size: small;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#body-container{
  position: absolute;
  width: 100%;
}